[tool.poetry]
name = "puzzle-generator"
version = "0.16.0"
description = "Generates python code representing a puzzle"
authors = ["piotr.idzik <vil02_puzzle_generator@10g.pl>"]
readme = "./puzzle_generator/README.md"
license = "MIT"
packages = [{include = "puzzle_generator"}]
repository = "https://github.com/vil02/puzzle_generator"
keywords = ["puzzle-generation", "quiz-generation", "code-generation"]

[tool.poetry.dependencies]
python = ">=3.10,<4.0.0"
black = "25.1.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "8.3.5"
pylint = "3.3.7"
flake8 = "7.2.0"
flake8-bugbear = "24.12.12"
flake8-pytest-style = "2.1.0"
ruff = "0.11.10"
coverage = "7.8.1"
mypy = "1.15.0"
bandit = "1.8.3"
xenon = "0.9.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
