---
name: black_format

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  black_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: psf/black@6305bf1ae645ab7541be4f5028a86239316178eb # 26.1.0
        with:
          options: "--check --verbose"
