---
name: check_examples

'on':
  workflow_dispatch:
  workflow_run:
    workflows: [publish]
    types:
      - completed
  schedule:
    - cron: '33 */9 * * *'

permissions:
  contents: read

jobs:
  check_examples:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version: ['3.10', 3.11, 3.12]

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Install puzzle-generator
        run: |
          pip install puzzle-generator

      - name: Run examples
        run: |
          ./run_all_examples.sh --no-poetry
...
