---
name: pip_audit

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '10 2 * * 1,3'

permissions:
  contents: read

jobs:
  pip_audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14

      - name: Set up Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1

      - name: Install poetry-plugin-export
        run: |
          poetry self add poetry-plugin-export

      - name: Generate requirements
        run: |
          poetry export --format=requirements.txt --output=requirements.txt
          poetry export --with dev --format=requirements.txt --output=dev-requirements.txt

      - name: Run pip-audit
        uses: pypa/gh-action-pip-audit@1220774d901786e6f652ae159f7b6bc8fea6d266 # v1.1.0
        with:
          inputs: requirements.txt dev-requirements.txt
...
