---
name: python_test

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '47 1 * * 1'

permissions:
  contents: read

jobs:
  python_test:
    permissions:
      contents: read
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        python-version: ['3.10', 3.13]
        # Py3.14 is currently blocked by PyCQA/bandit#1288

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1

      - name: Install basic dependencies
        run: |
          poetry install --with dev

      - name: Run liter
        run: |
          ./check_all_python_files.sh

      - name: Test with pytest
        run: |
          poetry run pytest

  check_examples:
    permissions:
      contents: read
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        python-version: ['3.10', 3.14]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1

      - name: Install basic dependencies
        run: |
          poetry install

      - name: Run examples
        run: |
          ./run_all_examples.sh
...
